{% include 'layout/header.html' %}

<div class="container mt-4">
  <div class="soft-card">

    <h5 class="soft-title">Manage Courses</h5>

    <form method="post" class="row g-3 mb-4">
      <div class="col-md-6">
        <input class="form-control"
               name="course_name"
               placeholder="Course Name (MCA)"
               required>
      </div>

      <div class="col-md-4">
        <input type="number"
               class="form-control"
               name="duration"
               placeholder="Duration (Years)"
               required>
      </div>

      <div class="col-md-2">
        <button class="btn btn-main w-100">Add</button>
      </div>
    </form>

    <table class="table soft-table">
      <thead>
        <tr>
          <th>Course</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        {% for c in courses %}
        <tr>
          <td>{{ c.course_name }}</td>
          <td>{{ c.duration_years }} Years</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
